body {
	background-color: rgba(174, 215, 201, 0.586);
    background-size: 10rem;
	background-attachment: fixed;
	padding:0px;
	margin:0px;
}
	
.boton1 {
    border: 1px solid #000000; /*anchura, estilo y color borde*/
    background-color: #AAAAAA; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    padding: 1px;
    
}

.boton2 {
    border: 1px solid #000000; /*anchura, estilo y color borde*/
    background-color: #AAAAAA; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    padding: 1px;
    width: 600px;
    
}

.tentacles{
    border: 1px solid #000000; /*anchura, estilo y color borde*/
    background-color: #AAAAAA; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    padding: 1px;
}







.capa1{
    border: 1px solid #AAAAAA; 
    inset: #AAAAAA;
    cursor:text;
    height:150px;
    overflow:auto;
    width:600px; 
    resize:horizontal;
    background:#ffffff;
}

.capa2{
    border: 1px solid #AAAAAA; 
    inset: #AAAAAA;
    cursor:text;
    height:40px;
    overflow:auto;
    width:600px; 
    resize:none;
    background:#ffffff;
}


.capa3{
    border: 1px solid #AAAAAA; 
    inset: #AAAAAA;
    cursor:text;
    height:600px;
    overflow:auto;
    width:600px; 
    resize:none;
    background:#ffffff;
}

.capa4{
    border: 1px solid #AAAAAA; 
    inset: #AAAAAA;
    cursor:text;
    height:400px;
    overflow:auto;
    width:600px; 
    resize:none;
    background:#ffffff;
}

/* diseño de elementos de ayuda */ 

[data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
   }
   [data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 300px; /* Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
   } 
   [data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
   }



 