body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    background-color: azure;
    transition: background 1s ease-in-out; /* Transición de color de fondo */
}

header {
    width: 120px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0 0 20px;
    transition: color 0.3s ease;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    border-left: 4px solid transparent; /* Añade una línea a la izquierda que se activará al pasar el ratón */
}

.nav-link:hover {
    color: #f39c12;
    border-left-color: #f39c12; /* Cambia el color de la línea a la izquierda al pasar el ratón */
}

.main-content {
    flex: 1;
    padding: 20px;
    color: #333;
    text-align: center;
    margin-left: 80px; /* Ancho del menú lateral */
    transition: margin 0.5s ease; /* Transición al expandir/contraer el menú */
}

.card {
    width:90%;
    margin-left: 80px;
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.hero-section {
    margin-top: 70px; /* Ajustar según el tamaño del encabezado */
}

.hero-section h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero-section p {
    font-size: 1.5em;
    margin-top: 0;
}

.section-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.block {
    width: 20%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.block:hover {
    transform: scale(1.05);
}