body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

a{
    color: #006400;
}
.container {
    display: grid;
    grid-template-areas: 
        "clases talleres"
        "clases curiosidades"
        "clases trucos";

    grid-template-columns: repeat(2, minmax(200px, 1fr)); /* Dos columnas flexibles */

    gap: 10px;
    box-sizing: border-box;
    padding: 10px;
}
header {
    background-color: #006400;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 1.5em;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.contact-info {
    background-color: #eafaea;
    color: #006400;
    text-align: center;
    padding: 10px;
    font-size: 1em;
}
.block {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    
    
    display: flex;
    flex-direction: column;


    width: 95%;           /* Ocupará todo el ancho de su celda */
    min-width: 200px;      /* Nunca será más pequeño que 200px */

    height: 150px;         /* Altura fija */
    overflow: hidden;      /* Oculta contenido excedente */
}

.block p{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

#first{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;    
}

.block h2 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #006400;
    background-color: white;
    padding: 0px;
}

.block h3 {
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #000000;
    background-color: white;
    padding:5px;
}
.content-container {
    margin-top: 5px;
    flex-grow: 1;
    display: flex;
    align-items: top;
    justify-content: center;
    height: 100%;
}
.content {
    display: none;
}
.content.active {
    display: block;
}
.block.clases {
    grid-area: clases;
    height: 100%;

}
.block.talleres {
    grid-area: talleres;
    

}
.block.curiosidades {
    grid-area: curiosidades;

}
.block.trucos {
    grid-area: trucos;
}